<!doctype html>
<html ng-app="sewa.toolkit" ng-controller="ToolkitController as toolkit">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/balancer.controller.js"></script>
    <script src="app/designer.controller.js"></script>
    <script src="app/force.controller.js"></script>
    <script src="app/main.constants.js"></script>
    <script src="app/main.controller.js"></script>
    <script src="app/main.service.js"></script>
    <script src="app/saveload.service.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    .bs-header {
      padding: 30px 15px 40px; /* side padding builds on .container 15px, so 30px */
      font-size: 16px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0,0,0,.15);
      color: #cdbfe3;
      background-color: #563d7c;
      background-image: url(docs/header.png);
      margin-bottom: 15px;
    }
    .d-select {
      margin-bottom: 5px;
    }
    .d-select select {
      width: 100px;
    }
    .designer-pane {
      background-image: url(docs/pipl.png);
      background-repeat: no-repeat;
      position: relative;
      height: 300px;
    }
    .designer-pane .slot-action {
      position: absolute;
      width: 45px;
      height: 45px;
      background: #eee;
      -webkit-box-shadow: inset 0px 0px 1px 3px rgba(0,0,0,0.81);
      -moz-box-shadow: inset 0px 0px 1px 3px rgba(0,0,0,0.81);
      box-shadow: inset 0px 0px 1px 3px rgba(0,0,0,0.81);
    }
    #armour.slot {
      top: 80px;
      left: 140px;
    }
    #primary.slot {
      top: 80px;
      left: 65px;
    }
    #secondary.slot {
      top: 80px;
      left: 215px;
    }
    
    .changeUp {
      color: green;
    }
    .changeDown {
      color: red;
    }
    
    .row.top-level {
      padding: 10px;
      padding-top: 20px;
    }
  </style>
  </head>
  <body>
    <div role="main">
      <header class="bs-header text-center" id="overview">
        <div class="container">
            <h1>
                SEWA Almigthy
            </h1>
        </div>
      </header>
      <div class="container">
        <uib-tabset active="active">
          <uib-tab index="0" heading="Unit Designer">
            <div class="row top-level" ng-controller="UnitDesignerController as designer">
              <div class="col-sm-5">
                <div class="designer-pane">
                  <div id="primary" class="slot" uib-dropdown is-open="designer.slotStatus.primaryOpen">
                    <button class="slot-action" type="button" uib-dropdown-toggle ng-disabled="disabled">
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="primary">
                      <li ng-repeat="eq in designer.reference.equipment.primary track by $index" role="menuitem"><a href="#">{{eq.name}}</a></li>
                    </ul>
                  </div>
                  <div id="armour" class="slot" uib-dropdown is-open="designer.slotStatus.armourOpen">
                    <button class="slot-action" type="button" uib-dropdown-toggle ng-disabled="disabled">
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="armour">
                      <li ng-repeat="eq in designer.reference.equipment.armour track by $index" role="menuitem"><a href="#">{{eq.name}}</a></li>
                    </ul>
                  </div>
                  <div id="secondary" class="slot" uib-dropdown is-open="designer.slotStatus.secondaryOpen">
                    <button class="slot-action" type="button" uib-dropdown-toggle ng-disabled="disabled">
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="secondary">
                      <li ng-repeat="eq in designer.reference.equipment.secondary track by $index" role="menuitem"><a href="#">{{eq.name}}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="btn btn-primary" ng-click="toolkit.saveTemplates()">Save templates</div>
                <div class="btn btn-primary" ngf-select="toolkit.loadTemplates($file)">Upload templates</div>
              </div>
              <div class="col-sm-3">
                <div class="d-select">
                  <select>
                    <option>Human</option>
                    <option>Elf</option>
                    <option>Dwarf</option>
                    <option>Orc</option>
                  </select>
                  Preferred Race
                </div>
                <div class="d-select">
                  <select>
                    <option>Recruit</option>
                    <option>Seasoned</option>
                    <option>Regular</option>
                    <option>Veteran</option>
                    <option>Elite</option>
                  </select>
                  Training Level
                </div>
                <div class="d-select">
                  <select>
                    <option>Strength</option>
                    <option>Endurance</option>
                    <option>Wisdom</option>
                    <option>Agility</option>
                  </select>
                  Training Focus
                </div>
              </div>
              <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                    <hr>
                    <pre>{{toolkit.unit | json}}</pre>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="Unit Balancer">
            <div class="row top-level" ng-controller="UnitBalancerController as balancer">
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="d-select">
                        <label for="attackerSelect">Attacker:</label>
                        <select name="attackerSelect" id="attackerSelect" ng-model="toolkit.unit1">
                          <option ng-repeat="unit in toolkit.templates" value="{{unit.id}}">{{unit.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <pre>
                {{toolkit.combatlog}}
                </pre>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="2" heading="Skirmish Mode">
            <div class="row top-level" ng-controller="ForceController as force">
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <pre>
                {{toolkit.combatlog}}
                </pre>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>          
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </body>
</html>
