<!doctype html>
<html ng-app="sewa.toolkit" ng-controller="ToolkitController as toolkit">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/balancer.controller.js"></script>
    <script src="app/designer.controller.js"></script>
    <script src="app/force.controller.js"></script>
    <script src="app/main.constants.js"></script>
    <script src="app/main.controller.js"></script>
    <script src="app/main.service.js"></script>
    <script src="app/saveload.service.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
  </head>
  <body>
    <div role="main">
      <header class="bs-header text-center" id="overview">
        <div class="container">
            <h1>
                SEWA Almigthy
            </h1>
        </div>
      </header>
      <div class="container">
        <uib-tabset active="active">
          <uib-tab index="0" heading="Unit Designer">
            <div class="row top-level" ng-controller="UnitDesignerController as designer">
              <div class="col-sm-7">
                <div class="row">
                  <div class="d-select">
                    <label for="attackerSelect">Current unit:</label>
                    <select name="attackerSelect" id="attackerSelect" ng-model="toolkit.unit1">
                      <option ng-repeat="unit in toolkit.templates" value="{{unit.id}}">{{unit.name}}</option>
                    </select>
                  <span class="btn btn-primary" ng-click="toolkit.saveTemplates()">Save templates</span>
                  <span class="btn btn-primary" ngf-select="toolkit.loadTemplates($file)">Upload templates</span>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-sm-7">
                    <div class="designer-pane">
                      <div ng-repeat="slot in designer.reference.templates[designer.selectedTemplate].slots_available track by $index" 
                      id="{{slot}}" class="slot" uib-dropdown is-open="designer.slotStatus[slot]">
                        <button class="slot-action" type="button" uib-dropdown-toggle ng-disabled="disabled">
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{slot}}">
                          <li ng-repeat="eq in designer.reference.equipment[slot] track by $index" role="menuitem"><a href="#">{{eq.name}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="d-select">
                      <select name="raceSelect" id="raceSelect" ng-model="toolkit.unit1">
                        <option ng-repeat="(id, race) in designer.reference.races track by $index" value="{{id}}">{{race.name}}</option>
                      </select>
                      <label for="raceSelect">Preferred Race</label>
                    </div>
                    <div class="d-select">
                      <select name="levelSelect">
                        <option>Recruit</option>
                        <option>Seasoned</option>
                        <option>Regular</option>
                        <option>Veteran</option>
                        <option>Elite</option>
                      </select>
                      <label for="levelSelect">Training Level</label>
                    </div>
                    <div class="d-select">
                      <select name="focusSelect">
                        <option>Strength</option>
                        <option>Endurance</option>
                        <option>Wisdom</option>
                        <option>Agility</option>
                      </select>
                      <label for="focusSelect">Training Focus</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                    <hr>
                    <pre>{{toolkit.unit | json}}</pre>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="Unit Balancer">
            <div class="row top-level" ng-controller="UnitBalancerController as balancer">
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="d-select">
                        <label for="attackerSelect">Attacker:</label>
                        <select name="attackerSelect" id="attackerSelect" ng-model="toolkit.unit1">
                          <option ng-repeat="unit in toolkit.templates" value="{{unit.id}}">{{unit.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <pre>
                {{toolkit.combatlog}}
                </pre>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="2" heading="Skirmish Mode">
            <div class="row top-level" ng-controller="ForceController as force">
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <pre>
                {{toolkit.combatlog}}
                </pre>
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-heading">Stats</div>
                  <div class="panel-body">
                    <div class="row text-center">
                      <div class="col-sm-12">{{toolkit.unit.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">STR: {{toolkit.unit.stats.str}}</div>
                      <div class="col-sm-3">END: {{toolkit.unit.stats.end}}</div>
                      <div class="col-sm-3">WIS: {{toolkit.unit.stats.wis}}</div>
                      <div class="col-sm-3">AGI: {{toolkit.unit.stats.agi}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Figures: {{toolkit.unit.figures}}</div>
                      <div class="col-sm-3">Cost: {{toolkit.unit.cost}}</div>
                      <div class="col-sm-3">Upkeep: {{toolkit.unit.upkeep}}</div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6">Health: {{toolkit.unit.hp_max}} ({{toolkit.unit.hp_max * toolkit.unit.figures}})</div>
                      <div class="col-sm-6">Current: {{toolkit.unit.hp_current}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Hit Chance: {{toolkit.unit.to_hit}}%</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Melee:
                      {{toolkit.unit.melee_attacks}} ({{toolkit.unit.melee_attacks * toolkit.unit.figures}}),
                      {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 200}} - {{toolkit.unit.melee_attacks * toolkit.unit.melee_damage * toolkit.unit.to_hit / 50}}
                      </div>
                      <div class="col-sm-6">Ranged: 0</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">Defence: {{toolkit.unit.defence}}</div>
                      <div class="col-sm-6">Resistance: {{toolkit.unit.resistance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Encumbrance: {{toolkit.unit.weight}}/{{toolkit.unit.encumbrance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Initiative: {{toolkit.unit.initiative}}</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">Movement: {{toolkit.unit.movement}} ({{toolkit.unit.movement_type}})</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>          
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </body>
</html>
